/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-soft: #e5e5e5;
  --vt-c-dark:#212430;
  --vt-c-primary:#FF9900;
  --vt-c-error:#FF5C00;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-dark);
  }
}
/* COMMON */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

#app {
  margin: 0;
  height: 100%;
  background-color: var(--vt-c-dark);
  padding: 7px;
  padding-top: 50px;
}

/* HEADER */
header{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

header nav a{
  font-weight: 700;
  color: var(--vt-c-white);
  text-decoration: none;
  font-size: 1rem;
}

/* GRID */
.wrapper{
  background-color: var(--vt-c-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
}

/*FORMS*/

.form-input{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 43px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  padding: 12px 16px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: var(--vt-c-white-mute) url("magnify.svg") no-repeat 95%;
  background-size: auto;
}

.form-input ::-webkit-input-placeholder{
  color: var(--vt-c-dark);
  opacity: .8;
}

.form-input ::-moz-placeholder{
  color: var(--vt-c-dark);
  opacity: .8;
}

.form-input :-ms-input-placeholder{
  color: var(--vt-c-dark);
  opacity: .8;
}

.form-input ::-ms-input-placeholder{
  color: var(--vt-c-dark);
  opacity: .8;
}

.form-input ::placeholder{
  color: var(--vt-c-dark);
  opacity: .8;
}

.form-input:focus-visible, .form-input:focus{
border:none;
outline: none;
background-color: var(--vt-c-white-soft);
}

.form-input__result {
  width: 100%;
  color: var(--vt-c-dark);
  opacity: .8;
  text-decoration: none;
  border-bottom: 1px solid var(--vt-c-white-mute);
  padding: 1rem 0;
  font-size: 0.875rem;
}

.error {
  color: var(--vt-c-error);
}

/*TEXT*/
.title, .text{
  font-family: "Montserrat", sans-serif;
}
.title{
  font-weight: 700;
  color: var(--vt-c-dark);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text{
 font-weight: 400;
 font-size: 0,9375rem;
 color: var(--vt-c-dark);
 margin-bottom: 1.5rem;
 line-height: 1.5rem;
}

/*other*/
.sr-only{
  position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
}